@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bubble {
    @apply rounded-lg border grid place-items-center overflow-hidden whitespace-nowrap border-gray-500 bg-transparent px-2 py-1 text-center text-white cursor-pointer;
  }
  .answerContainer {
    @apply scrollbar-thin scrollbar-track-white/10 scrollbar-thumb-white;
  }
}
.answerContainer::-webkit-scrollbar-thumb {
  border-radius: 999px;
}
.scrollbar-rounded::-webkit-scrollbar-thumb {
  border-radius: 999px;
}
.scrollbar-rounded::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 999px;
}
